<div class="w-full bg-sky-500 p-4 flex justify-between">
  <div class="flex">
    <p class="text-gray-100 text-xl mt-2">Hot Tub Universe Inventory Management</p>
    <div class="relative ml-8 text-xl text-gray-100 hover:bg-sky-600 rounded-lg pt-2 pb-2 pl-2 pr-2 cursor-pointer" data-te-dropdown-ref>
      <a
      href="/items"
        class="flex items-center whitespace-nowrap rounded">
        Inventory
    </a>
    </div>
    <div class="relative ml-4 text-xl text-gray-100 hover:bg-sky-600 rounded-lg pt-2 pb-2 pl-2 pr-6 cursor-pointer" data-te-dropdown-ref>
      <button
        class="flex items-center whitespace-nowrap rounded"
        type="button"
        id="actionDropDown"
        data-te-dropdown-toggle-ref
        aria-expanded="false"
        data-te-ripple-init
        data-te-ripple-color="light">
        Actions
        <span class="ml-2 w-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd" />
          </svg>
        </span>
      </button>
      <ul
        class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
        aria-labelledby="actionDropDown"
        data-te-dropdown-menu-ref>
        <li>
          <a
            class="block w-full whitespace-nowrap bg-transparent pl-4 pr-8 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
            href="/create"
            data-te-dropdown-item-ref
            >Create</a
          >
        </li>
        <li>
          <a
            class="block w-full whitespace-nowrap bg-transparent pl-4 pr-8 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
            href="/receive"
            data-te-dropdown-item-ref
            >Receive</a
          >
        </li>
        <li>
          <a
            class="block w-full whitespace-nowrap bg-transparent pl-4 pr-8 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
            href="/transfer"
            data-te-dropdown-item-ref
            >Transfer</a
          >
        </li>
        <li>
          <a
            class="block w-full whitespace-nowrap bg-transparent pl-4 pr-8 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
            href="/sell"
            data-te-dropdown-item-ref
            >Sell</a
          >
        </li>
        <li>
          <a
            class="block w-full whitespace-nowrap bg-transparent pl-4 pr-8 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
            href="adjust"
            data-te-dropdown-item-ref
            >Adjust</a
          >
        </li>
      </ul>
    </div>
    <div class="relative ml-4 text-xl text-gray-100 hover:bg-sky-600 rounded-lg pt-2 pb-2 pl-2 pr-6 cursor-pointer" data-te-dropdown-ref>
      <button
        class="flex items-center whitespace-nowrap rounded"
        type="button"
        id="reportDropDown"
        data-te-dropdown-toggle-ref
        aria-expanded="false"
        data-te-ripple-init
        data-te-ripple-color="light">
        Reports
        <span class="ml-2 w-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd" />
          </svg>
        </span>
      </button>
      <ul
        class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
        aria-labelledby="reportDropDown"
        data-te-dropdown-menu-ref>
        <li>
          <a
            class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
            href="#"
            data-te-dropdown-item-ref
            >Not</a
          >
        </li>
        <li>
          <a
            class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
            href="#"
            data-te-dropdown-item-ref
            >Done</a
          >
        </li>
        <li>
          <a
            class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
            href="#"
            data-te-dropdown-item-ref
            >Yet</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="relative" ddata-te-dropdown-position="dropstart">
    <button
      class="text-gray-100 hover:bg-sky-600 rounded-lg p-3 cursor-pointer"
      type="button"
      id="accountDropdown"
      data-te-dropdown-toggle-ref
      aria-expanded="false"
      data-te-ripple-init
      data-te-ripple-color="light">
      Hello {{ name }}
    </button>
    <ul
      class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
      aria-labelledby="accountDropdown"
      data-te-dropdown-menu-ref>
      <li>
        <a
          class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
          href="#"
          (click)="logout()"
          data-te-dropdown-item-ref
          >Logout</a
        >
      </li>
    </ul>
  </div>
</div>
